*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.logo{
    padding-right: 60px;
    font-size: 20px;
}

ul{
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
}

ul li {
    list-style: none;
    padding: 5px 10px;
}

ul li a {
    text-decoration: none;
    color: #000;
}

ul li a:hover {
    color: lawngreen;
    cursor: pointer;
}

main {
    display: flex;
}

.bg-image {
    width: 100vw;
    height: 100vh;
    z-index: -10;
    display: block;
}

h1 {
    font-size: 60px;
    display: inline-block;
}

.section-title {
    font-size: 30px;
    text-transform: uppercase;
    margin: 2rem 0;
}

.small-image{
     height: 100%;
     width: 100%;
 }

.display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.display div {
    margin: 2rem;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.places{
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    /* grid-template-columns: minmax(1fr, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(2fr, 2fr));
    grid-template-areas:
    "one two three"
    "one four five"
    "one four five";
    gap: 8px 10px;
    padding: 3rem 0;
}

.place-section {
    margin-top: 8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image1{
    grid-area: one;
}

.image2{
    grid-area: two;
}

.image3{
    grid-area: three;
}

.image4{
    grid-area: four;
}

.image5{
    grid-area: five;
}

.service-section{
    display: flex;
    flex-direction: row;
    row-gap: 0.5rem;
    justify-content: center;
}

.services{
    padding: 3rem;
    box-shadow: 0 0 10px 5px rgb(0, 0, 0, 0.2);
    margin: 1rem 2rem;
    box-sizing: border-box;
}

.service-text{
    padding: 1rem 0.5rem;
}